<div class="col-6 col-sm-4 col-md-3">
    <div class="cardImgProfile">
        <div class ="position-relative">
            <%= image_tag(photo.source.url, class:'cardImgProfile__img w-100')%>
            <% if current_user == user%>
                <%= link_to 'edit', edit_photo_path(photo), class:'cardImgProfile__editBtn btn text-decoration-none' %>
            <%end%>
            <% if photo.mode == 'Private' %>
                <div class="cardImgProfile__lock rounded-circle d-flex justify-content-center align-items-center">
                    <i class="lock-icon fa-solid fa-lock"></i>
                </div>
            <%end%>
        </div>
        
        <span class="cardImgProfile__title"><%= photo.title %></span>
        
    </div>
</div>