<div class="col-6 col-sm-4 col-md-3">
    <div class="cardAlbumProfile">
    <div class="cardAlbumProfile__img w-100 position-relative">
        <%= image_tag(album.list_image[0].url,class:'cardAlbumProfile__img-img w-100 h-100') %>
        <% if current_user == user %>
            <%= link_to 'edit', edit_album_path(album), class:'cardImgProfile__editBtn btn text-decoration-none' %>
        <%end%>

        <% if album.mode == 'Private' %>
            <div class="cardAlbumProfile__lock rounded-circle d-flex justify-content-center align-items-center">
                <i class="lock-icon fa-solid fa-lock"></i>
            </div>
        <%end%>

        
        <div class="cardAlbumProfile__img-amount d-flex flex-column align-items-center rounded-circle justify-content-center m-auto">
            <span><%= album.list_image.size %></span>
            <span>PHOTOS</span>
        </div>
    </div>
    <span class="cardAlbumProfile__title"><%= album.title %></span>
</div>
</div>