<li class="header__cart-item" data-controller="change">
    <img src="<%= user.avatar.url(:thumb1) %>" alt="" class="header__cart-img rounded-circle">
    <div class="header__cart-item-info">
        <div class="header__cart-item_head">
            <h5 class="header__cart-item_name"><%= action %></h5>
        </div>

    </div>
</li>
