<div class="contentProfile col-12 col-lg-9 col-xl-8">
    <div class="contentProfile__top ">
        <%=render "shared/personal_profile"%>
    </div>
    <div class="contentProfile__bot">
        <div class="row">
             <% @list_follower.each do |ele| %>
                <%= render partial: "components/card_follow_profile", locals: {user_self:@user, user: ele} %>
            <%end%>
        </div>
    </div>
</div>